.Luck{
    text-align: center;
    padding: 20px;
    font-size: 3em;
    font-style:normal;
}
.enter{
    padding: 10px 5px; /* Adjust the padding to increase the size */
    font-size: 25px; 
}
.main{
    background-image: url('shapelined-_JBKdviweXI-unsplash.jpg');
}
.money{
    width: 750px;
    height: 500px
}
.finalsub{
    width: 150px;
    height: 50px;
    font-size: 30px;
    font-weight: bolder;
    background-color: hsl(295, 45%, 59%);
    transition: background-color 0.24s;
}
.finalsub:hover{
        background-color: hsl(214,100%,56%);
}